body {
 color:black;
 background:rgb(0, 0, 109);
 margin: 0px;
}

header {
    border-bottom: solid 2px rgb(113, 82, 226);
    padding: 20px;
    font-size: 32px;
    color: rgb(113 82 226);
}